In [33]:
from xml.dom.minidom import Entity
import pandas as pd
import numpy as np

consumo = pd.read_csv("datasets\Fuentes_Consumo_Energia.csv", sep=",")

# consumo[consumo["Entity"] == "Colombia"].shape[0]

# consumo.drop(["Code","Entity"], axis=1).head()

# consumo["Year"].dropna().shape[0]

# consumo.head()

# conversion_ej_to_twh = 277.778

# consumo["Consumo_Total"] =  ( consumo.Geo_Biomass_Other_TWh
#                             + consumo.Hydro_Generation_TWh
#                             + consumo.Nuclear_Generation_TWh
#                             + consumo.Solar_Generation_TWh
#                             + consumo.Wind_Generation_TWh
#                             + (consumo.Coal_Consumption_EJ + consumo.Gas_Consumption_EJ + consumo.Oil_Consumption_EJ)*conversion_ej_to_twh
#                             )

# consumo.head()

# europa = consumo[consumo.Entity=="Europe"]
# europa["Hydro_Generation_TWh"].idxmax()
# europa.loc[europa["Hydro_Generation_TWh"].idxmax()]["Year"]

# cotizaciones = pd.read_csv("datasets\GGAL - Cotizaciones historicas.csv", sep=",")

# cotizaciones.head()


df1=pd.read_csv("datasets\Tabla1_ejercicio.csv", sep=";")
df2=pd.read_csv("datasets\Tabla2_ejercicio.csv", sep=";")
df3 = pd.merge(df1,df2,how="inner",on="pers_id")

df3.head()

,pers_id,sexo,edad,ingreso,situacion_lab,periodo,score
0,71906556521,F,47,35926.28125,Sin_situacion_declarada,201906,919
1,71906556521,F,47,35926.28125,Sin_situacion_declarada,201906,919
2,71906556521,F,47,35926.28125,Sin_situacion_declarada,201909,738
3,71906556521,F,47,35926.28125,Sin_situacion_declarada,201909,919
4,71906556521,F,47,35926.28125,Sin_situacion_declarada,201912,919